<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>QuRegWeb</title>
</head>
<body>
<nav class="navbar fixed-static-top navbar-expand-lg nav_style">
    <div class="container">
        <div class="navbar-brand" href="#">
            <img src="../static/img/Logo.png" th:src="@{/img/Logo.png}" width="40" height="40"
                 class="img-fluid d-inline-block align-text-center" alt="logo">
            Ala-Too Shop
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Main</a>
                </li>
                <li class="nav-item align-middle d-flex justify-content-center">
                    <form th:action="@{/logout}" method="post" class="align-middle d-flex justify-content-center">
                        <input type="submit" class="sign-out align-middle" value="Sign Out"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-sm-12 align-self-center form-back">
                <form class="row g-3" th:method="POST" th:action="@{/order}" th:object="${orders}">
                    <h1 class="text-center">About our product</h1>
                    <div class="line"></div>
                    <div class="col-md-12">
                        <input th:value="'order_' + ${orderStatus}" type="hidden" class="form-control" id="orderStatus"
                               name="orderStatus">
                    </div>
                    <div class="col-md-12">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam omnis repellendus, asperiores
                            expedita tenetur a sequi harum, quisquam quia adipisci minima? Sunt vitae quam assumenda
                            distinctio repellat, error quasi ipsa dolor accusamus
                            saepe quaerat possimus!
                        </p>
                        <p>You can take our product from A777 cabinet</p>
                        <div class="line"></div>
                        <h4 th:text="${orderStatusMsg}"></h4>
                    </div>
                    <div class="row justify-content-center row g-3">
                        <div class="col-2">
                            <button type="submit" id="OrderBtn" name="OrderBtn" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Order
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>


    <footer>
        <h6 class="text-center">Ala-Too Shop</h6>
    </footer>

    <div th:each="user : ${users}">
        <script th:inline="javascript">
            var userOrder = [[${user.username}]]
            null;
            console.log(userOrder)
        </script>
    </div>

    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>

</body>
</html>