<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>QuRegWeb</title>
</head>
<body>
<nav class="navbar fixed-static-top navbar-expand-lg nav_style">
    <div class="container">
        <div class="navbar-brand" href="#">
            <img src="../static/img/Logo.png" th:src="@{/img/Logo.png}" width="40" height="40"
                 class="img-fluid d-inline-block align-text-center" alt="logo">
            Ala-Too Shop
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Order</a>
                </li>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </ul>
        </div>
    </div>
</nav>
<header>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-sm-12 align-self-center form-back">
                <form class="row g-3" method="post">
                    <h1 class="text-center">Order</h1>
                    <div class="col-md-6">
                        <label for="inputName" class="form-label">Firstname</label>
                        <input type="text" class="form-control" id="inputName" name="name" onkeyup="chkFields()">
                    </div>
                    <div class="col-md-6">
                        <label for="inputSurname" class="form-label">Surname</label>
                        <input type="text" class="form-control" id="inputSurname" name="surname" onkeyup="chkFields()">
                    </div>
                    <div class="col-12">
                        <label for="inputCardID" class="form-label">CardID</label>
                        <input type="text" class="form-control" id="inputCardID" name="cardID" onkeyup="chkFields()">
                    </div>
                    <div class="row justify-content-center row g-3">
                        <div class="col-2">
                            <button type="submit" class="btn btn-outline-dark" id="regBtn" name="regBtn" disabled>Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>


<footer>
    <h6 class="text-center">Ala-Too Shop</h6>
</footer>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>

</body>
</html>